@model GIP1.Web.Entities.Lokaal

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Lokaal</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Lokaalcode" class="control-label"></label>
                <input asp-for="Lokaalcode" class="form-control" />
                <span asp-validation-for="Lokaalcode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Locatie" class="control-label"></label>
                <input asp-for="Locatie" class="form-control" />
                <span asp-validation-for="Locatie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Capaciteit" class="control-label"></label>
                <input asp-for="Capaciteit" class="form-control" />
                <span asp-validation-for="Capaciteit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Opmerking" class="control-label"></label>
                <input asp-for="Opmerking" class="form-control" />
                <span asp-validation-for="Opmerking" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Middelen" class="control-label"></label>
                <input asp-for="Middelen" class="form-control" />
                <span asp-validation-for="Middelen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
